In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = pd.read_csv("C:/Users/carol/Downloads/all (1)/Train_rev1.csv")

In [3]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\carol\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\carol\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [4]:
data.columns

Index(['Id', 'Title', 'FullDescription', 'LocationRaw', 'LocationNormalized',
       'ContractType', 'ContractTime', 'Company', 'Category', 'SalaryRaw',
       'SalaryNormalized', 'SourceName'],
      dtype='object')

Randomly Select 2500 Data Points

In [216]:
import random
random.seed(99)
idx = random.sample(range(len(data.index)),2500)

mask1 = data.index.isin(idx)
data1 = data[mask1]

Pick Top 5 POS

In [111]:
from string import punctuation

def removepunc(item):
    for p in punctuation:
        item = item.replace(p,'')
    return item

In [113]:
def lowerize(x):
    return x.lower()

data3 = data1['FullDescription'].apply(lowerize).apply(removepunc).apply(nltk.word_tokenize).apply(nltk.pos_tag)

In [16]:
def poscat(l):
    x = list()
    for pairs in l:
        x.append(pairs[1])
    return set(x)

In [115]:
x = list()
for i in range(len(data3)):
    x += data3.iloc[i]

print(x)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [116]:
from collections import Counter
Counter(x).most_common(5)

[(('and', 'CC'), 27307),
 (('the', 'DT'), 21456),
 (('to', 'TO'), 20825),
 (('a', 'DT'), 15413),
 (('of', 'IN'), 14358)]

Proof by Zipf's Law

In [ ]:
from nltk.corpus import

In [ ]:
txt_lem = []
for sen in df['FullDescription']:
    sen = sen.lower()
    for p in punctuation:
        sen = sen.replace(p,'')
    txt_lem += word_tokenize(sen)

tk_lem = [word for word in txt_lem if word not in stop_words]

#### B1. Naive Bayes Classification based on non-job description variables

B1. In this section, you will create classification models to predict high (75th percentile and above) or low(below 75th percentile) salary from the text contained in the job descriptions. Ignore the job descriptions, and train a model to predict high/low salary from all the numeric columns, e.g., part time/full time, contract vs. others, type of job (a lot of dummy variables), location (instead of using a huge number of dummy variables, you can use a list of cities in England with highest cost of living, and create a 0/1 variable which is 1 if the job is in one of those cities, else 0). Use the NaÃ¯ve Bayes classifier. What is the accuracy of your model?

In [318]:
import copy
data4 = copy.deepcopy(data1)

In [334]:
data5 = data4.dropna()

high = data4['SalaryNormalized'].quantile(q=0.75)

data5['SalaryNormalized'][data4['SalaryNormalized']>=high] = 1
data5['SalaryNormalized'][data4['SalaryNormalized']<high] = 0

data5['ContractTime'][data4['ContractTime']=='contract'] = 'contract'
data5['ContractTime'][data4['ContractTime']!='contract'] = 'others'

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\carol\Anaconda3\lib\site-packages\pandas\core\generic.py:7620: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\carol\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Divided Location based on House Price from 'Annual Affordable Cities Review'
https://www.independent.co.uk/life-style/uk-least-affordable-cities-house-prices-london-oxford-a7606326.html

In [337]:
def lowerize(x):
    return x.lower()

data5['LocationNormalized'] = data5['LocationNormalized'].apply(lowerize)

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [341]:
highlivingcost = ['oxford','uk','the city','greater london','central london','london','south east london','winchester', 'cambridge', 'chichester', 'brighon and hove', 'bath', 'southhampton','salisbury','canterbury','st albans', 'bristol','lichfield','truro','norwich','chelmsford','exeter','york','leicester','gloucester']
mask2 = data5['LocationNormalized'].isin(highlivingcost)

data5['LocationNormalized'][mask2] = 1
data5['LocationNormalized'][mask2 == False] = 0
data5.drop(columns=['Id','FullDescription','LocationRaw','SalaryRaw','Title','Company','SourceName'])

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\carol\Anaconda3\lib\site-packages\pandas\core\generic.py:7620: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\carol\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,LocationNormalized,ContractType,ContractTime,Category,SalaryNormalized
2653,1,full_time,contract,IT Jobs,1
2657,1,full_time,others,IT Jobs,0
2886,1,full_time,others,Accounting & Finance Jobs,1
2922,0,full_time,others,Scientific & QA Jobs,0
2959,0,full_time,others,Engineering Jobs,1
3040,1,full_time,others,Teaching Jobs,0
4117,0,full_time,others,IT Jobs,0
4299,0,full_time,others,Trade & Construction Jobs,0
4303,0,full_time,others,Trade & Construction Jobs,0
6002,0,full_time,others,Teaching Jobs,0
6108,1,full_time,others,Engineering Jobs,0
7948,1,full_time,others,Logistics & Warehouse Jobs,0
9854,0,part_time,contract,Teaching Jobs,0
11196,1,full_time,others,Sales Jobs,0
11225,0,full_time,contract,Teaching Jobs,0
12519,1,full_time,others,Sales Jobs,0
12649,1,full_time,contract,"PR, Advertising & Marketing Jobs",0
13814,0,full_time,others,Accounting & Finance Jobs,1
13844,0,full_time,others,Accounting & Finance Jobs,0
14305,1,full_time,others,Sales Jobs,1
15656,0,full_time,others,Consultancy Jobs,1
16888,0,part_time,others,Social work Jobs,0
16942,0,full_time,others,"PR, Advertising & Marketing Jobs",1
18099,1,full_time,others,IT Jobs,0
18722,0,full_time,others,HR & Recruitment Jobs,1
19414,1,full_time,others,Accounting & Finance Jobs,0
19534,1,full_time,others,Accounting & Finance Jobs,0
19594,0,full_time,contract,Accounting & Finance Jobs,1
19722,0,full_time,others,Accounting & Finance Jobs,0
19974,0,full_time,others,Hospitality & Catering Jobs,1
...,...,...,...,...,...
218248,1,full_time,others,"PR, Advertising & Marketing Jobs",1
218629,0,full_time,others,Engineering Jobs,0
221032,0,full_time,others,"PR, Advertising & Marketing Jobs",0
221132,0,full_time,others,Engineering Jobs,1
221254,0,full_time,others,Consultancy Jobs,0
221336,0,full_time,others,Engineering Jobs,0
221340,0,full_time,others,Healthcare & Nursing Jobs,0
221403,0,full_time,others,Consultancy Jobs,1
221497,1,full_time,others,Healthcare & Nursing Jobs,1
221546,1,full_time,others,"Energy, Oil & Gas Jobs",0
222863,1,full_time,others,HR & Recruitment Jobs,1
222880,0,full_time,others,Trade & Construction Jobs,0
222941,0,full_time,others,Admin Jobs,0
223037,1,full_time,others,HR & Recruitment Jobs,1
223203,0,full_time,contract,Admin Jobs,0
223264,0,full_time,others,IT Jobs,1
223761,1,full_time,others,Trade & Construction Jobs,0
224884,0,full_time,others,Charity & Voluntary Jobs,0
234355,1,full_time,others,Healthcare & Nursing Jobs,0
234657,1,full_time,others,Engineering Jobs,0
236268,0,full_time,others,Accounting & Finance Jobs,0
237314,0,full_time,others,Accounting & Finance Jobs,0
237786,1,full_time,others,Customer Services Jobs,0
237818,0,full_time,others,IT Jobs,0
237835,0,full_time,others,Hospitality & Catering Jobs,0
238042,1,full_time,others,Sales Jobs,0
239581,0,full_time,others,Retail Jobs,0
240775,0,full_time,others,Accounting & Finance Jobs,1
240859,0,full_time,others,Charity & Voluntary Jobs,0
241852,1,full_time,others,Sales Jobs,1

Create the Design Matrices

In [343]:
from patsy import dmatrices

categorical_columns = ['ContractType','ContractTime','Category']
data5_dummies = pd.get_dummies(data5[categorical_columns],
                            prefix=categorical_columns,
                            columns=categorical_columns)
dummy_column_names = data5_dummies.columns.values

data6 = pd.concat([data5, data5_dummies], axis=1)

In [344]:
formula = 'SalaryNormalized ~ 0 + LocationNormalized + {}'.format(' + '.join(['Q("{}")'.format(x) for x in dummy_column_names]))

Y, X = dmatrices(formula, data6, return_type = 'dataframe')
y = Y['SalaryNormalized'].values

Split into Train and Test Data

In [352]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

Set up the Classifier, Fit the Model, and Test on Training, Test Data

In [360]:
from sklearn import naive_bayes
from sklearn import metrics

model = naive_bayes.MultinomialNB()
model.fit(X_train, y_train)

prediction_train = model.predict(X_train)
print(metrics.confusion_matrix(y_train, prediction_train))
print(metrics.accuracy_score(y_train, prediction_train))

[[184   3]
 [ 57   7]]
0.7609561752988048

In [361]:
prediction_test = model.predict(X_test)
print(metrics.confusion_matrix(y_test, prediction_test))
print(metrics.accuracy_score(y_test, prediction_test))

[[71  4]
 [32  1]]
0.6666666666666666

Class Priors(or Baseline)

In [358]:
import math

print('Prior probability for positive class')
print(math.exp(model.class_log_prior_[1]))
print('Prior probability for negative class')
print(math.exp(model.class_log_prior_[0]))

Prior probability for positive class
0.2549800796812749
Prior probability for negative class
0.7450199203187255

#### B1. Naive Bayes Classifier based on job description

In [362]:
data7 = data4.dropna()

high = data4['SalaryNormalized'].quantile(q=0.75)

data7['SalaryNormalized'][data4['SalaryNormalized']>=high] = 1
data7['SalaryNormalized'][data4['SalaryNormalized']<high] = 0

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\carol\Anaconda3\lib\site-packages\pandas\core\generic.py:7620: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\carol\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [371]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

data7['FullDescription'] = data7['FullDescription'].apply(removepunc).apply(lowerize).apply(nltk.word_tokenize).apply(nltk.pos_tag)

C:\Users\carol\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """